<a href="https://colab.research.google.com/github/phelcy001/Python_Notebook_Analysis_W4/blob/main/Pyhton_Notebook_W4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import pandas library
import pandas as pd
#import numpy library
import numpy as np

In [2]:
#loading the dataset
df = pd.read_csv("http://bit.ly/autolib_dataset")

In [3]:
#previewing the first 10 rows of the dataset
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
#getting to know about the information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [5]:
#checking for missing values across each column
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [6]:
#dropping columns with nan values
df1 = df.dropna(axis=1)
df1.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 23 columns]

In [7]:
#checking for missing values
df1.isnull().values.any()

False

In [8]:
#removing duplicates
df1.drop_duplicates().head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 23 columns]

In [10]:
#combining the year, month, day, hour, minute columns and converting them to datetime formats
cols = pd.to_datetime(df1.iloc[:, 18:24])
df1['date'] = cols
df1.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                              Address  Cars  ...  minute                date
0                 2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 24 columns]

In [28]:
#we are going to calculate the difference of the bluecars to determine whether the cars were picked or returned and sort it by the ID and the date
df1['diff_bc'] = df1.groupby(['ID'])['Bluecar counter'].diff().fillna(0)
df1.sort_values(by=['ID','date']).head(10)

                       Address  Cars  ...                date  diff_bc
1352           61 quai Blanqui     0  ... 2018-04-02 19:28:00      0.0
4528           61 quai Blanqui     0  ... 2018-04-04 09:05:00      0.0
4880           61 quai Blanqui     0  ... 2018-04-07 18:40:00      0.0
1693           61 quai Blanqui     0  ... 2018-04-09 09:01:00      0.0
4424  16 Rue Charles de Gaulle     2  ... 2018-04-01 00:36:00     -4.0
1843  16 Rue Charles de Gaulle     4  ... 2018-04-01 01:36:00      0.0
4986  16 Rue Charles de Gaulle     3  ... 2018-04-03 04:03:00      1.0
2677  16 Rue Charles de Gaulle     4  ... 2018-04-03 22:27:00      0.0
3218  16 Rue Charles de Gaulle     6  ... 2018-04-04 03:30:00      2.0
3642     174 rue Etienne Dolet     1  ... 2018-04-04 09:40:00     -3.0

[10 rows x 25 columns]

In [123]:
#we find the most popular hour for picking up a bluecar in the city of paris in April 2018
df3 = df1.groupby(['hour', 'City'])['diff_bc'].sum().sort_values(ascending=False).head(1)
df3

hour  City
12    Paris    50.0
Name: diff_bc, dtype: float64

In [113]:
#most popular hour for returning cars
df1.groupby(['hour'])['diff_bc'].sum().sort_values(ascending=False).head(1)

hour
6    88.0
Name: diff_bc, dtype: float64

In [115]:
#most popular hour for returning cars in paris
df1.groupby(['hour','City'])['diff_bc'].sum().sort_values(ascending=False).head(1)

hour  City
12    Paris    50.0
Name: diff_bc, dtype: float64

In [76]:
#most popular station
df1['ID'].mode()

0    paris-portedemontrouge-8
dtype: object

In [116]:
#most popular station in paris
list = ['Paris']
df8 = df1[df1.City.isin(list)]
df8['ID'].mode()

0    paris-portedemontrouge-8
dtype: object

In [121]:
#most popular station at the most popular picking hour 
list = [17]
df4 = df1[df1.hour.isin(list)]
df4.groupby('ID')['hour'].count().sort_values(ascending=False).head(1)

ID
villejuif-epidor-2    2
Name: hour, dtype: int64

In [ ]:
#most popular station at the most popular picking hour in paris
list = [17]
df4 = df1[df1.hour.isin(list)]
df4.groupby(['ID'],['City'] == 'Paris')['hour'].count().sort_values(ascending=False).head(1)

In [103]:
#postal code most popular for picking bluecars
df1.groupby(['Postal code'])['diff_bc'].sum().sort_values(ascending=True).head(1)

Postal code
75009   -20.0
Name: diff_bc, dtype: float64

In [122]:
#postal code most popular for picking bluecars in paris
list = [17]
df4 = df1[df1.hour.isin(list)]
df4.groupby(['Postal code'])['diff_bc'].sum().sort_values(ascending=True).head(1)

Postal code
75017   -19.0
Name: diff_bc, dtype: float64

In [109]:
#if most popular station overall belongs to the postal code most popular for picking bluecars
df5 = df1[(df1['ID'] == 'paris-portedemontrouge-8') & (df1['Postal code'] == 75009)]
df5

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Geo point, Postal code, Public name, Rental status, Slots, Station type, Status, Subscription status, year, month, day, hour, minute, date, diff_bc]
Index: []

In [110]:
#if most popular station at the most popular picking hour belongs to the postal code most popular for picking bluecars
df7 = df1[(df1['ID'] == 'villejuif-epidor-2 ') & (df1['Postal code'] == 75009)]
df7

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Geo point, Postal code, Public name, Rental status, Slots, Station type, Status, Subscription status, year, month, day, hour, minute, date, diff_bc]
Index: []

In [107]:
#the most popular station belongs with the postal code most popular for picking bluecars and at the most popular picking hour
list = [17]
df6 = df5[df5.hour.isin(list)]
df6

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Geo point, Postal code, Public name, Rental status, Slots, Station type, Status, Subscription status, year, month, day, hour, minute, date, diff_bc]
Index: []

In [111]:
list = [17]
df8 = df7[df7.hour.isin(list)]
df8

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Geo point, Postal code, Public name, Rental status, Slots, Station type, Status, Subscription status, year, month, day, hour, minute, date, diff_bc]
Index: []